button {
  margin-right: 10px;
}

.botones {
  margin-top: 20px;
}


mat-form-field{
  width: 100%;
  max-width: 350px;
  display: block;
  margin-top: 15px;
}

label {
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}