<form [formGroup]="form" (submit)="guardarCambios()">
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error></mat-error>
  </mat-form-field>

  
  <mat-form-field appearance="outline">
    <mat-label>Fecha de nacimiento</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error></mat-error>
  </mat-form-field>

  <div class="caja-foto-actor">
    <app-input-img titulo="Foto del actor"></app-input-img>
  </div>

  <div class="botones">
    <button type="submit" mat-flat-button [disabled]="form.invalid">Guardar Cambios</button>
    <a mat-stroked-button routerLink="/actores">Cancelar</a>
  </div>
</form>


