
.contenedor_peliculas {
  border: 2px solid rgba(0, 0, 0, 0.493);
  margin-bottom: 0.6em;
  padding: 0.7em;
  background-color: rgba(248, 244, 239, 0.541);
  border-radius: 10px;
}

.peliculas-contenedor {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  text-align: center;
}

p{
  max-width: 225px;
  font-size: 16px;
  font-weight: bold;
}

.button{
  margin: 0 10px 10px;
}