<!-- <button (click)="agregarPelicula()" mat-flat-button><mat-icon>add </mat-icon>Agregar Pelicula</button>-->
<!-- <app-listados-generico [listado]="peliculas">
  <ng-container contenido>
    <div class="peliculas-contenedor">
      @for (pelicula of peliculas; track $index) {
      <div class="pelicula-contenedor">
        <a>
          @if(pelicula.poster){
          <img [src]="pelicula.poster" width=" 170" height="250" />
          }@else {
          <img src="default.jpg" width="170" height="250" />
          }
        </a>

        <p>
          <a href="#"  class="link">{{pelicula.titulo}}</a>
        </p>
        <div class="botones-modificar">
          <a href="#" mat-flat-button class="button" >Editar</a>
          <a href="#" mat-flat-button class="button" class="warn" type="button">Borrar</a>
        </div>
        
      </div>
      }
    </div>
  </ng-container>
</app-listados-generico>-->