.contenedor {
  width: 100%;
  display: flex;
  gap: 7em;

  margin-top: 2em;
}

.cajaP {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productosAgregados {
  width: 800px;
  display: flex;
  flex-direction: column;

  border: 2px solid rgba(41, 41, 41, 0.575);
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
  text-align: center;

}

.tabla-productos {
  gap: 8px;
  border: 2px solid rgba(41, 41, 41, 0.24);
  width: 100%;


}

.tabla-productos tbody{
  background-color: rgb(242, 255, 225);
}



.cajaProductosA {
  display: flex;
  border-radius: 10px;
  background-color: rgb(182, 255, 221);
  font-size: 14px;
  border: 2px solid rgba(41, 41, 41, 0.717);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.377);
  width: 100%;  
}

.cajaBP{
  gap: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.buscar{
  width: 100%;
}
/* Estilos para los botones enviar etc */



.deleteBoton {
    background-color: rgb(175, 16, 32);
    color: #fff;
    margin-top: 10px;
}


