<h2>Crear Producto</h2>
<div class="contenedor">
  <div class="formulario">
    <h3>Ingrese los datos del producto</h3>
    <form (submit)="guadarCambios()" [formGroup]="form" class="cajaP">
      <mat-form-field appearance="outline">
        <mat-label>Nombre Producto</mat-label>
        <input matInput formControlName="Producto" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="Codigo" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="Descripcion" />
        <mat-label>Descripcion</mat-label>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput formControlName="Precio" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selecciona el Estado</mat-label>
        <select matNativeControl required formControlName="Estado">
          <option label="Estado"></option>
          <option value="Nuevo">Nuevo</option>
          <option value="Usado">Usado</option>
        </select>
      </mat-form-field>

      <div>
        <button mat-flat-button color="primary" type="submit">
          {{ editando ? 'Actualizar' : 'Guardar' }}
        </button>
        <a mat-stroked-button routerLink="productos">Volver</a>
      </div>
    </form>
  </div>

  <div class="productosAgregados">
    <h3>Productos Agregados</h3>
    <div *ngIf="productos.length > 0; else noProductos" class="cajaProductosA">
      <table class="tabla-productos">
        <tbody>
          <tr *ngFor="let p of productos; let i = index" class="producto">
            <td>
              <h4>Producto: </h4> {{ p.Producto }}
            </td>
            <td>
              <h4>Codigo: </h4>#  {{  p.Codigo }}
            </td>
            <td>
              <h4>Descripcion:</h4> {{  p.Descripcion }}
            </td>
            <td>
              <h4>Precio: </h4> {{  p.Precio | currency}}
            </td>
            <td>
              <h4>Estado: </h4>{{  p.Estado }}
            </td>
            <td>
              <button mat-button color="warn" (click)="eliminarProducto(i)">Borrar</button>
              <button mat-button color="primary" (click)="editarProducto(i)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    
    <div class="cajaBP">
      <div *ngIf="productos.length > 0; else noBorrar">
      <button mat-flat-button color="warn" (click)="borrarTodo()" class="deleteBoton">Borrar todo</button>
    </div>
      <ng-template #noBorrar>
        <button mat-flat-button disabled="disabled">Borrar todo</button>
      </ng-template>

      <ng-template #noProductos>
        <p>No hay productos agrgados todavía.</p>
      </ng-template>
      <a mat-stroked-button routerLink="buscar-productos" class="buscar">Buscar</a>
    </div>

  </div>


</div>
