h1{
    font-weight: 300;
}

h3{
    font-weight: 500;
}
.buscar{
    width: 100%;
    gap: 5px;
}


.cajaBonesB{
    display: flex;
    margin: 5px;
    gap: 7px;
}

.producto{
    background-color: rgb(197, 195, 195);
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 25px;
    margin: 10px;
    font-family:  Arial, Helvetica, sans-serif;
    
    transition: 0.1s;
}

.producto:hover{    
    transform: scale(1.01) ;
    box-shadow: 1px 2px 2px;
}

