@if(!listado){
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <img src="Loading_icon.gif" alt="Gif">
</div>
}@else if (listado.length == 0 ) {
<div #vacio>
  <ng-content select="[vacio]">
  </ng-content>
</div>

@if (!vacio.innerHTML.trim()) {
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
  <p>No hay elementos que mostrar</p>
</div>


}
}@else {
<ng-content select="[contenido]"></ng-content>
}
